{% extends 'layout.html' %}

{% block title %}Update Lost Item{% endblock %}

{% block content %}
    <h2>Update Lost Item</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.item_name.label }} {{ form.item_name }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description }}
        </div>
        <div>
            {{ form.category.label }} {{ form.category }}
        </div>
        <div>
            {{ form.lost_location.label }} {{ form.lost_location }}
        </div>
        <div>
            {{ form.date_lost.label }} {{ form.date_lost }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
